@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------Cores-------*/
:root{
    --green: #4DFF59;
    --dark-green: #25882B;
    --white: #ffffff;
    --black: #000000;
}

body{
    background-color: var(--green);
}

/*-------Menu-------*/
.menu{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-green);
    padding: 10px;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: var(--white);
    padding: 10px 17px;
    text-decoration: none;
}

/*-------Botão_de_login-------*/
.login{
    padding: 10px 7px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--green);
    cursor: pointer;
}

.login a{
    color: var(--black);
    font-size: 15px;
}

/*-------Logo_do_site-------*/
.logo{
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 60px;
    height: 60px;
}

/*-------Banner-------*/
.banner{
    width: 100%;
    height: 40vh;
}

#parallax{
    background-image: url(./Img/Banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*-------Titulo-------*/
.titulo{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

/*-------Ajudar-------*/
.ajudar{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.ajuda{
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 11px 17px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 11px 17px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 11px 17px 0px rgba(0,0,0,0.35);
}

.ajuda h2{
    color: var(--dark-green);
    margin-bottom: 10px;
    font-size: 40px;
}

.ajuda p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 10px;
}

.ajuda img{
    width: 40%;
    height: 30vh;
}

/*-------Queimadas-------*/
.queimada{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    gap: 20px;
}

.queimada img{
    width: 35%;
    height: 68vh;
}

/*-------Texto-------*/
.texto{
    width: 50%;
    height: 68vh;
}

.texto h2{
    font-size: 34px;
    color: var(--white);
    margin-bottom: 10px;
    margin-top: 50px;
}

.texto p{
    font-size: 17px;
    color: var(--white);
    text-align: justify;
    margin-bottom: 15px;
}

/*-------Botão_saiba_mais-------*/
.botao{
    margin-top: 30px;
}

.botao a{
    padding: 10px 70px;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
}

/*-------Pantanal-------*/
.pantanal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pantanal img{
    width: 40%;
    height: 70vh;
}

/*-------Segundo_texto-------*/
.texto2{
    width: 50%;
    height: 60vh;
}

.texto2 h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.texto2 p{
    font-size: 17px;
    text-align: justify;
    margin-bottom: 10px;
}

/*-------Footer-------*/
.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-green);
}

/*-------Redes-------*/
.redes{
    display: flex;
    gap: 10px;
}

.redes i{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 50%;
    color: var(--white);
    font-size: 43px;
}

/*-------Links-------*/
.links{
    margin-top: 20px;
}

.links a{
    color: var(--white);
    text-decoration: none;
    padding: 10px 17px;
}

/*-------Copyright-------*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
}

/*-------Responsividade-------*/
@media screen and (max-width: 768px) {
    .titulo h1{
        font-size: 26px;
    }

    .ajudar{
        height: 67vh;
        padding: 10px;
        gap: 10px;
    }

    .ajuda{
        width: 48%;
        height: 50vh;
    }

    .ajuda h2{
        font-size: 25px;
    }

    .ajuda p{
        font-size: 10px;
    }

    .ajuda img{
        width: 70%;
        height: 20vh;
    }

    .queimada{
        flex-direction: column;
        gap: 0px;
    }

    .queimada img{
        width: 90%;
        height: 30vh;
    }

    .texto{
        width: 100%;
        padding: 7px;
    }

    .texto h2{
        margin-top: 5px;
        font-size: 27px;
        text-align: center;
    }

    .texto p{
        font-size: 15px;
    }

    .botao{
        margin-top: 10px;
    }

    .pantanal{
        flex-direction: column-reverse;
        gap: 0px;
    }

    .pantanal img{
        width: 95%;
        height: 35vh;
    }

    .texto2{
        width: 100%;
        padding: 7px;
    }

    .texto2 h2{
        font-size: 27px;
        text-align: center;
        margin-top: 5px;
    }

    .texto2 p{
        font-size: 15px;
    }
}