@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-------Cores-------*/
:root{
    --green: #2f7d23;
    --dark-green: #184a12;
    --white: #ffffff;
    --black: #000000;
}

body{
    background-color: var(--green);
}

/*-------Menu-------*/
.menu{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-green);
    padding: 10px;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: var(--white);
    padding: 10px 17px;
    text-decoration: none;
}

.menu .botao{
    border-radius: 10px;
    background-color: var(--black);
}

/*-------Menu_Hamburguer-------*/
.menu button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    display: none;
}

/*-------Logo_do_site-------*/
.logo{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.logo h3{
    font-size: 25px;
    color: var(--white);
    font-weight: 400;
}

.logo img{
    width: 60px;
    height: 60px;
}

/*-------Titulo-------*/
.titulo{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 25px;
}

/*-------Principal-------*/
.principal{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------Reciclagem-------*/
.reciclagem{
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0 40px;
    border-radius: 10px;
    gap: 10px;
}

.reciclagem img{
    width: 350px;
    height: 370px;
}

/*-------Incêncido-------*/
.incendio{
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 0 40px;
    border-radius: 10px;
    gap: 10px;
}

.incendio img{
    width: 350px;
    height: 370px;
}

/*-------Texto-------*/
.texto{
    color: var(--black);
}

.texto h2{
    font-size: 40px;
    margin-top: 50px;
}

.texto p{
    font-size: 20px;
    text-align: justify;
    margin-top: 10px;
}

/*-------Responsividade-------*/
@media screen and (max-width: 768px){
    .menu button{
        display: block;
    }
    
    .menu ul{
        width: 30%;
        display: none;
        position: absolute;
        top: 13%;
        right: 0%;
        background-color: var(--dark-green);
        padding: 5px;
        text-align: left;
    }

    .menu li{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .menu .botao{
        background-color: transparent;
    }

    .logo{
        width: 42%;
    }
    
    .titulo h1{
        font-size: 30px;
    }

    .reciclagem{
        width: 95%;
        height: 80vh;
        flex-direction: column;
    }

    .reciclagem img{
        width: 60%;
        height: 30vh;
    }

    .incendio{
        width: 95%;
        height: 80vh;
        flex-direction: column-reverse;
    }

    .incendio img{
        width: 60%;
        height: 30vh;
    }

    .texto h2{
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
    }

    .texto p{
        font-size: 17px;
    }
}